// Fix billing field wrapper
.woocommerce-input-wrapper {
	width: 100%;
}

// Woocommerce product gallery slider width fix
figure.woocommerce-product-gallery__wrapper {
	max-width: inherit !important;
}

// Fix coupon code input width
@media(min-width: 768px) {
	#coupon_code.input-text {
		width: 110px !important;
	}
}


.woocommerce {
	.products {
		.product {
			.woocommerce-loop-product__link{
				.attachment-woocommerce_thumbnail {
					box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
					transition: all .2s ease-in-out;
					&:hover {
						box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgba(149, 157, 165, 0.2) 0px 8px 24px;
						transform: scale(1.0015);
					}
				}
				.onsale {
					background-color: $secondary;
				}
				text-align: center;
				.woocommerce-loop-product__title {
					font-size: 24px;
				}
				.price {
					font-size: 1.2em;
					color: $black;
					font-weight: 600;
					del {
						font-style: italic;
						margin-right: 5px;
					}
				}

			}
			.add-to-cart-container {
				text-align: center;
				.add_to_cart_button {
					//margin: 0 auto;	
					border-radius: 0;
					border: none;
					&:hover {
						background-color: $primary-dark;
					}
				}

				.added_to_cart {
					background: $secondary;
					padding: $input-btn-padding-y $input-btn-padding-x;
					color: $white;
					display: block;
					margin: .5rem 0;
					&:hover {
						background-color: darken($secondary, 5%);
						color: $white;
					}
				}
			} //add-to-cart-container

			
			

		} //product
		
	}// products

	/*single product*/
	.product {
		.onsale {
			background-color: $secondary;
		}
		.summary {
			
			.price {
				font-size: 2.1em;
				color: $primary;
				font-weight: 700;
				del {
					font-style: italic;
				}
			}
			.cart {
				input[type=number] {
					padding: .238em 1em;
				}
				.button {
					border-radius: 0;
					background: $primary;
					color: $white;
					
					&:hover {
						background: $primary-dark;
						border: none;
					}
				}

			}
			.product_meta {
				.tagged_as {
					display: none;
				}
			}
		} //summary
		.woocommerce-tabs {
			margin: 2.5em auto;
		}//woocommerce-tabs
		.related {
			h2 {
				margin-bottom: 1.5em;
			}
		}
	}

}