.widget-area {
    
    .widget {
        margin-bottom: 3em;

        .widget-title {
            margin-bottom: .8em;
        }


        &.widget_search {

        }


        &.widget_links ul, 
        &.widget_archive ul,
        &.widget_pages ul,
        &.widget_meta ul, 
        &.widget_categories ul,
        #recentcomments,
        &.widget_recent_entries ul{
            
                list-style: none;
                margin: 0;
                padding: 0;
                li{
                    margin: 7px 0;
                    a {
                        transition: all .3s ease-in-out;
                     
                        &:hover {
                            text-decoration: none;
                            margin-left: 15px;
                            color: $primary-dark;
                        }
                    }
                } 
                
                
        }
          

    }


}

/*
Sidebar footerfull
*/
#wrapper-footer-full {
    background-color: $primary-dark;
    color: $gray-100;
    border-bottom: 1px solid lighten( $primary-dark , 10% );

    .footer-widget {
        h3 {
            font-size: 18px;
            color: $secondary;
            margin-bottom: 1em;
        }

        ul {
            margin-left: 0;
            padding-left: 0;
            list-style: none;

            li {
                margin: 11px 0;

                a { 
                    transition: all .3s ease-in-out ;
                    color: $gray-100;
                    &:hover {
                        text-decoration: none;
                        color: lighten( $primary, 15%);
                        padding-left: 10px;
                    }
                }

                &.social {
                    
                    a { 
                        transition: all .3s ease-in-out ;
                        color: $gray-100;
                        font-size: 1.5em;
                        margin-right: 10px;
                        

                        &:last-child {
                            margin-right: 0;
                        }

                        &:hover {
                            color: lighten( $primary, 15%);
                            
                            padding-left: 0;
                            
                        }
                    }   
                }
                
            }
        }
    }
}


#menu-cuenta-carrito {
        width: 115px;
        list-style: none;
        margin: 0;
        padding: 0;
    
        li {
            display: inline-block;
            margin-left: 12px;
            
            img {
                width: 22px;
            }

            &.mini-cart-wrapper{
                a {
                    position: relative;
                    #mini-cart-count {
                        position: absolute;
                        top: -7px;
                        right: -7px;
                    }
                }
                .dropdown-menu {
                    
                        left: auto;
                        right: 0;
                        box-sizing: border-box;
                        padding: 5px 7px;
                        width: 300px;
                    

                    #header-quickcart {
                        
                        ul.woocommerce-mini-cart{
                            li.woocommerce-mini-cart-item{
                                padding-left: 2em;
                                position: relative;
                                padding-top: 0;
                                display: block;
                                width: 100%;
                                margin: 0;
					            
                                a.remove_from_cart_button {
                                    position: absolute;
                                    top: 0;
                                    left: 0;

                                } 
                                a {
                                    display: block;
                                    font-weight: 700;
                                    position: relative;
                                    
                                    img.attachment-woocommerce_thumbnail {
                                        float: right;
                                        margin-left: 4px;
                                        width: 32px;
                                        height: auto;
                                        box-shadow: none;
                                    }
                                }
                            
                                span.quantity {
                                    display: block;
                                    
                                }				
                            
                            } //woocommerce-mini-cart-item

                           

                        } //.woocommerce-mini-cart
                        .woocommerce-mini-cart__total{
                            margin-top: 1rem;
                            border-top: 1px solid $gray-200;
                            padding-top: 1rem;
                        } //woocommerce-mini-cart__total
                        .woocommerce-mini-cart__buttons {
                            display: flex;
                            justify-content: space-between;
                        }
					
                    } //#header-quickcart
                } //.dropdown-menu
            } //.mini-cart-wrapper 
        } //li
} //menu-cuenta-carrito