.widget-area {
    
    .widget {
        margin-bottom: 3em;

        .widget-title {
            margin-bottom: .8em;
        }


        &.widget_search {

        }


        &.widget_links ul, 
        &.widget_archive ul,
        &.widget_pages ul,
        &.widget_meta ul, 
        &.widget_categories ul,
        #recentcomments,
        &.widget_recent_entries ul{
            
                list-style: none;
                margin: 0;
                padding: 0;
                li{
                    margin: 7px 0;
                    a {
                        transition: all .3s ease-in-out;
                     
                        &:hover {
                            text-decoration: none;
                            margin-left: 15px;
                            color: $primary-dark;
                        }
                    }
                } 
                
                
        }
          

    }


}

/*
Sidebar footerfull
*/
#wrapper-footer-full {
    background-color: $primary-dark;
    color: $gray-100;
    border-bottom: 1px solid lighten( $primary-dark , 10% );

    .footer-widget {
        h3 {
            font-size: 18px;
            color: $secondary;
            margin-bottom: 1em;
        }

        ul {
            margin-left: 0;
            padding-left: 0;
            list-style: none;

            li {
                margin: 11px 0;

                a { 
                    transition: all .3s ease-in-out ;
                    color: $gray-100;
                    &:hover {
                        text-decoration: none;
                        color: lighten( $primary, 15%);
                        padding-left: 10px;
                    }
                }

                &.social {
                    
                    a { 
                        transition: all .3s ease-in-out ;
                        color: $gray-100;
                        font-size: 1.5em;
                        margin-right: 10px;
                        

                        &:last-child {
                            margin-right: 0;
                        }

                        &:hover {
                            color: lighten( $primary, 15%);
                            
                            padding-left: 0;
                            
                        }
                    }   
                }
                
            }
        }
    }
}